# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\python3_code\爬虫项目\前程无忧大数据可视化\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
