{% extends "draw.html" %}
{% block title %}年份扇形图{% endblock %}
{% block draw %}
    <script>
        var myChart = echarts.init(document.getElementById("main"));
        var myOption = {
            title:{
                show : true,
                text : "年份扇形图",
                textStyle:{
                    color:"black",
                    fontWeight:'bolder',
                    fontFamily : 'sans-serif',
                    fontSize : 25,
                },
                x:"center",
                y:"5%"
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '10%',
                left: '80%',
                y: 'center',
                orient: 'vertical'
            },
            series: [
                {
                    name: '年份数量',
                    type: 'pie',
                    radius: ['20%', '70%'],
                    avoidLabelOverlap: true,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: true,
                        position: 'outside',
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '40',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: true
                    },
                    data: {% autoescape off %}{{ year_data }}{% endautoescape %},
                }
            ]
        };
        myChart.setOption(myOption);
    </script>
{% endblock %}