.title_j {
    margin-left: 20px;
}

td {
    text-align: center;
    vertical-align: middle !important;
    font-family: 微软雅黑, Helvetica, sans-serif;
    border: 1px solid #000 !important;
}

th {
    text-align: center;
    vertical-align: middle !important;
    border: 1px solid #000 !important;
}

h1 {
    font-family: 微软雅黑, Helvetica, sans-serif;
}

ul li {
    display: inline;
    list-style-type: none;
}

ul {
    padding-inline-start: 0px;

}
#user {
    text-align: center;
    vertical-align: middle !important;
}